.form-horizontal,.aside{
  margin-top: 50px;
}
.form-control {
  width:45%;
  display: inline;
}
.captcha-item .form-control {
    width:20%;
}
.form-group label{
  font-weight: 500;
}
.extra-tips .validate-error, .extra-tips .validate-option,.captcha-item span.validate-error {
    padding-left: 10px;
    font-size: 12px;
}
.agreement-txt{
  padding-top: 7px;
}

.validate-error {
  color: #fe2617;
}
.error-tips{
  color: #fe2617;
}
.disabled {
  color: #999;
  background: #f0f0f0;
  border: 1px solid #f0f0f0;
}
.enabled {
  color: #fff;
  background: #c00;
  border: 1px solid #c00;
}
.btn-submit {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 26px;
}
.color{
  color:#337ab7;
}
