header .info{
  height: 2rem;
  line-height: 2rem;
  height: 11vw;
  line-height: 11vw;
  }
header .info2{
  height: 3rem;
  line-height: 3rem;
  height: 14vw;
  line-height: 14vw;
  }
@media only screen and (min-width: 480px){
  header .info{
  height: 2rem;
  line-height: 2rem;

  }
header .info2{
  height: 3rem;
  line-height: 3rem;
  }
}
header  .info2 .mobile{
  position: relative;
}

/*header  .info2 .mobile .share-code{
  position: absolute;
  bottom: 0;
  left: 103px;
  background-color: #f2f2f2;
  padding:18px;
  z-index: 500;
  line-height: 1;
}*/
article .content{
  line-height: 2rem;
}
article .content img{
  margin:0 auto;
  display: block;
  max-width: 100%;
}

article .content .blue,article .content a{
  color:#00f;
}
article .content .goods_ref h3 a{
  color:#333;
}
.goods_ref{
 margin:1.5rem auto;
 padding: 15px 10px;
 /*border: 2px solid #e9e9e9;*/
 transition: border-color .1s ease;
 /*width: 80%*/
 display: block;
}

.goods_ref:hover{
 /*border-color: #c00;*/
 /*box-shadow: 0 0 2px 2px #f8f8f8;*/
}
.goods_ref:before{
  display: table;
  content: " ";
}
.goods_ref:after{
  display: table;
  content: " ";
  clear: both;
}
.goods_ref .info i{
    margin: 4px 10px 0 0;
    font-style:normal;
}
.goods_ref>a{
  position: relative;
  z-index:0;
  display: block;
  width: 25%;
  float: left;
}
.goods_ref>a:before {
    content: "";
    display: block;
    padding-top: 100%;
}
.goods_ref img{
    position:  absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


article .content table td,article .content table th {
    padding: 5px 10px;
    border: 1px solid #f0f0f0;
}
.goods_ref h3{
  font-size: 1.2rem;

}

.goods_ref h3 span{
  color:#c00;
  margin-left:10px;
}

.goods_ref .be{
  height: 3.6rem;
  font-size: .8rem;
  color: #999;
  overflow: hidden;
}
.goods_ref .be p{
  margin: 0;
}

.goods_ref .price{
  margin-right: 1.5rem;
}
.goods_ref .volume{
  float: right;
}
