.yl-facet{
  font-size: 16px;
  line-height: 20px;
}
.yl-facet dl{
  margin:0;
}
.yl-facet li span{
  color: #c00;
}
.yl-facet .dl-horizontal ul{
  margin:0;
}
.yl-facet .dl-horizontal dt{
  width:80px;
  margin-top:11px;
}
.yl-facet .dl-horizontal dd{
  padding: 10px 0 10px 100px;
  margin-left:0;
  /*border-bottom: 1px solid #f0f0f0;*/
}
.yl-facet .dl-horizontal dd li a{
  color:#00c;
}
.yl-facet .count{
  background-color: #f0f0f0;
  padding: 5px 0 5px 0;
}
.yl-facet .choosed{
  padding: 10px 0 10px 0;
}
.yl-facet .count span{
  color:#c00;
}

.yl-facet .choosed ul{
  margin: 0;
}
.yl-facet .choosed .delete li{
  border: 1px solid #E6E6E6;
  margin-right: 20px;
}
.yl-facet .choosed .delete span{
  color:#c00;
  padding: 0px 2px 0px 10px;
}



.text-block-200-70{
  width: 200px;
  height: 70px;
  border: 1px solid #f0f0f0;
    background-color: #189aec;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    zoom: 1;
    line-height: 70px;
  margin-right: 20px;
  text-align: center;
}
.text-block-200-70>a{
  color: #fff
}
.content-item.float1{
  margin:0 20px 20px 0;
  width:524px;
  display: inline-block;
}
.content-item.float2{
  float: right;
  width:524px;
  margin:0 0 20px 0;
  display: inline-block;
}
.content-item.float3{
  margin:0 20px 20px 0;
  width:432px;
  display: inline-block;
}
.content-item.float4{
  float: right;
  width:432px;
  margin:0 0 20px 0;
  display: inline-block;
}

.price-bold{
    font-size: 1.2rem;
    color: #333;
    font-weight: 700;
    margin-right: 2px;
}
.price-line{
  font-size: 1rem;
  color: #999;
  text-decoration: line-through;
}

.yl-content-list .img-box{
  width: 30%;
}
.yl-content-list .content{
  width: 70%;
}
.yl-content-list .content.noimg{
  width: 100%;
}
.yl-content-list .content-item{
  border-bottom: 1px solid #f0f0f0;
  background: #fff;

}
.yl-content-list .content-item .title{
  font-size: 1.2rem;
}
.yl-content-list .content-item .title em{
color:#c00;
}
.yl-content-list .content-item .title span{
  color:#c00;
}
.yl-content-list .content-item .title:hover{
  background-color: #fbfbfb;
}

.yl-content-list .content-item .content-txt{
  font-size: .8rem;
  height:10.5em;
  line-height: 1.5;
  color: #666;
  overflow: hidden;
}
.yl-content-list .content-item .content-txt a{
  color:#c00;
}

.yl-content-list .content-item .info{
  font-size: .8rem;
  height: 1.5rem;
}


.quan.yl-bt-go{
      background-color: #189aec;
}
.quan.expired.yl-bt-go{
      background-color: #606060;
}

.yl-content-list .ias-noneleft{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.progress{
  width:66%;
}

.yl-temai-item .yl-temai{
    position: relative;
}
.yl-temai-item .yl-temai .logo{
    border-radius: 50%;
    background: #fff;
}

.yl-temai-item .yl-temai .mask{
    background: rgba(0,0,0,.4);
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.yl-temai-item .text{
    position: absolute;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
    text-align: center;
    color: #fff;
    z-index: 4;
    background-color: #000;
}
.yl-temai-item .text .be{
    font-size: 1.2rem;
}
.yl-temai-item .text .countdown{
    font-size: .8rem;
    line-height: 1.6;
}
@media only screen and (min-width: 480px){
  .yl-temai-item .yl-temai{
    width: 480px;
}
}


.temai-content-image{
    position: relative;
    width: 100%;
    min-height: 304px;
}
.temai-content-image .intro{
  position: absolute;
  top: 50px;
  left: 50px;
  text-align: center;
  color: #fff;
}
.temai-content-image .logo{
    padding: 0px;
    height: 90px;
    width: 90px;
    overflow: hidden;

    border-radius: 50%;
    background: #fff;

}
.temai-content-image .logo>img{
  vertical-align: middle;
  display: inline;
}
.temai-content-image .mask{
    background: rgba(0,0,0,.4);
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.temai-content-image .text .be{
    margin-top: 30px;
    font-size: 35px;
    line-height: 35px;
    font-weight: 700;
}
.temai-content-image .text .info{
    margin-top: 18px;
    font-size: 14px;
    line-height: 22px;
}

.coupon-all .coupon-info{
  font-size: 1rem;
}





